body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}
.logo {
    position: relative;
    width: 22.5rem;
    height: 32.5rem;
    overflow: hidden;
    transform: scale(0.5);
}
.logo::before {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    height: 120px;
    content: "";
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    z-index: 2;
    background-color: #000;
    transform: scaleX(1.5);
}
div {
    position: absolute;
    top: 0;
    width: 7.5rem;
}
div:nth-child(1) {
    background: rgb(119, 0, 0);
    left: 0;
    animation: topTobottom 1s linear forwards;
}
div:nth-child(2) {
    left: 7.25rem;
    z-index: 1;
    background: rgb(192, 6, 6);
    animation: topTobottom 1s linear forwards;
    animation-delay: 1s;
    transform-style: top-left;
    transform: skewX(24deg);
    box-shadow: 0 0 100px black;
}
div:nth-child(3) {
    background: rgb(119, 0, 0);
    right: 0.3125rem;
    animation: topTobottom 1s linear forwards;
    animation-delay: 2s;
}
@keyframes topTobottom {
    from {
        left: 0%;
    }
    to {
        height: 100%;
    }
}
h3 {
    color: white;
    margin-left: 110px;
    font-size: xx-large;
}
.logo::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 400%;
    height: 100%;
    background: linear-gradient(to right, transparent, red, black);
    z-index: 3;
    animation: animate 2s liniar forwards;
}
