body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}
.logo {
    position: relative;
    width: 22.5rem;
    height: 32.5rem;
    overflow: hidden;
    transform: scale(0.8);
}
.logo::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -100px;
    width: 100%;
    height: 120px;
    background: #000;
    z-index: 2;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    transform: scaleX(1.5);
}
div {
    position: absolute;
    top: 0;
}
div:nth-child(1) {
    background: rgb(119, 0, 0);
    left: 0;
    width: 7.5rem;
    animation: topTobottom 1s linear forwards;
}
div:nth-child(2) {
    width: 7.5rem;
    left: 7.25rem;
    z-index: 1;
    background: rgb(192, 6, 6);
    animation: topTobottom 1s linear forwards;
    animation-delay: 1s;
    transform-style: top-left;
    transform: skewX(24deg);
    box-shadow: 0 0 100px black;
}
div:nth-child(3) {
    width: 7.5rem;
    background: rgb(119, 0, 0);
    right: 0.3125rem;
    animation: topTobottom 1s linear forwards;
    animation-delay: 2s;
}
@keyframes topTobottom {
    from {
        height: 0%;
    }
    to {
        height: 100%;
    }
}
h3 {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 4.5rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    background-color: #fff;
    background: 50% 100% / 50% 50% no-repeat
        radial-gradient(ellipse at bottom, #fff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    font-family: "Source Sans Pro", sans-serif;
    animation: reveal 3000ms ease-in-out forwards 200ms,
        glow 2500ms linear infinite 2000ms;
}
@keyframes reveal {
    80% {
        letter-spacing: 8px;
    }
    100% {
        background-size: 300% 300%;
    }
}
@keyframes glow {
    40% {
        text-shadow: 0 0 20px #fff;
    }
}
